.ProductGrid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter);
  justify-content: center;
}
.ProductGrid > * {
  flex: 1 1 100%;
}
@media (min-width: 48rem) {
  .ProductGrid > * {
    box-sizing: border-box;
    flex: 0 0 calc(33.33% - calc(var(--gutter) * 2 / 3));
  }
}
