html {
  --gutter: 1rem;
  --desktop: 64rem; /* 1024px */
  --tablet: 48rem; /* 768px */
  --mobile: 20rem; /* 320px */
  --s1: 10px;
  padding: var(--gutter);
}
.App {
  max-width: 1280px;
  margin: 0 auto;
}
.header,
.subheader {
  text-align: center;
}
.header + .subheader {
  margin-top: 0;
}
.subheader {
  font-style: italic;
}
.collectionSelector {
  display: block;
  margin: 0 auto 1em;
  font-size: 1.5rem;
}
